body, ul {
  margin: 0;
  padding: 30px;
  font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.heading {
  font-weight: bold;
  font-size: 3em;
  padding-left: 50px;
}

.logo {
  height: 120px;
  padding-left:20px;
}

.container {
  display: grid;
  grid-template-columns: 10% 90%;
}

.co {
  background-color: #002868;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1px;
}

nav {
  padding-right: 10px;
  border-right: 1px solid #002868;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
}

main {
  padding: 10px;
  margin-left: 20px;
}

header {
  border-bottom: 1px solid #002868;
}

footer {
  border-top: 1px solid #002868;
}

header, footer {
  padding: 10px;
  grid-column: 1 / span 2;
}

header h1, footer p {
  margin: 0;
}

table {
  border-collapse: separate;
  border: 1px solid black;
}

table th {
  background-color: #002868;
  color: white;
  border-radius: 5px;
  margin-bottom: 1px;
}

table td {
  padding: 5px;
}

tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
