<!--<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  </head>
<body>
   <div class="box">
     <div class="top-row">
        <img src="/images/cobug.png" class="logo" />
	<span class="heading">Colorado BSD Users Group</span>
     </div>
     <div class="first-col">
      <nav>
        <h2 class="co">Links</h2>
        <ul class="menu">
        {{ range .Site.Menus.links }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>

        <h2 class="co">*BSD</h2>
        <ul class="menu">
        {{ range .Site.Menus.bsds }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>

        <h2 class="co">Friends</h2>
        <ul class="menu">
        {{ range .Site.Menus.friends }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
      </nav>
     </div>
-->
<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <img src="/images/cobug.png" class="logo" />
    <span class="heading">Colorado BSD Users Group</span>
  </header>

  <div class="container">
    <nav>
      <h2 class="co">Links</h2>
      <ul class="menu">
      {{ range .Site.Menus.links }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>

      <h2 class="co">*BSD</h2>
      <ul class="menu">
      {{ range .Site.Menus.bsds }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>

      <h2 class="co">Friends</h2>
      <ul class="menu">
      {{ range .Site.Menus.friends }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </nav>
